.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #0dbc79;
    border-radius: 5px;
    color: #0dbc79;
    padding: 2em;
}

.card .item {
    min-width: 16em;
    background-color: #111317;
    color: #0dbc79;
}