.formField {
    flex-direction: column;
    gap: 20px;
    border: 1px solid #0dbc79;
    border-radius: 5px;
    color: #0dbc79;
    background-color: #111317;
}

/* .prefix-label::before {
    content: attr(data-prefix);
} */

.link {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}